astroid==4.0.4
autopep8==2.0.4
black==26.5.1
click==8.4.0
dill==0.4.1
docstring-to-markdown==0.17
flake8==7.1.2
importlib_metadata==9.0.0
isort==8.0.1
jedi==0.19.2
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.2
parso==0.8.7
pathspec==1.1.1
platformdirs==4.9.6
pluggy==1.6.0
pycairo==1.29.0
pycodestyle==2.12.1
pydocstyle==6.3.0
pyflakes==3.2.0
PyGObject==3.56.3
PyGObject-stubs==2.17.0
pylint==4.0.5
pyright==1.1.409
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.14.0
pytokens==0.4.1
pytoolconfig==1.3.1
rope==1.14.0
ruff==0.15.14
snowballstemmer==3.0.1
tomlkit==0.15.0
typing_extensions==4.15.0
ujson==5.12.1
whatthepatch==1.0.7
yapf==0.43.0
zipp==4.1.0
